nav {
    position: center;
    top: 0;
    height: 65px;
    width: 90%;
    background-color: rgb(32, 32, 34)
}


.content {
    margin: auto;
    display: flex;
    align-items: top; 
    justify-content: space-between;
    
}
.links {
    display: flex;
    align-items: center;
    gap: 10px;

}

.link
{
   text-decoration: none;
   color: white;
   padding: 10px 15px;
   cursor:pointer;
   position: left;
}

.link:hover {
    color:royalblue;

}
.profile-icon {
    height: 40px;
    width: 40px;
    background-color: rgb(42, 42, 44);
  display: flex;;
    display: flex;
    justify-content: center;
    align-items:center;
    cursor: pointer;
    shape-image-threshold: square;
}