.item-image{
  width: 30%;    /* image fills full card width */
  height: 200px;
  object-fit: cover;
}
.item-card{
 background-color: rgb(46, 49, 49);
  border-radius: 10px;
  overflow: hidden;
  color: white;
  flex: 1;  
   
    
    
}
.section {
  background-color: rgb(32, 32, 34);
  padding: 60px 40px;
  color: white;
width: 90%;
margin: 0 60px;
  text-align: left;
}
.container {
  /* max-width: 1200px; */
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 40px;
}