

  .button{
    color: orange;
    shape-image-threshold: square;
    height: 50px;
  

    }


.hero {
  background-color: rgb(42, 42, 44);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  min-height: 300px;
  color: white;
   width: 100% ;
  
}
.hero-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: right;
}
.text{
text-align:start;
}
.hero-image {
  display: flex;
  flex-direction: column;
 align-items: flex-end;
  justify-content: flex-start; 
  gap: 20px;
}

.hero-image img {
  width: 400px;
  object-fit: cover;
}
 
.signin-btn {
  background-color: orange;
  color: white;
  border: none;
  padding: 12px 30px;
  font-weight: bold;
  cursor: pointer;
  order: -1;
  align-self: flex-end;
}
.signin-btn:hover {
  background-color: rgb(255, 142, 4);  
}

.learnMore-btn{
 
  color: white;
  background-color: orange;
  height: 50px;
  width: 120px;

}
.learnMore-btn:hover {
  background-color: rgb(255, 142, 4);  
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-image img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hero {
    flex-direction: column;
  }
  .hero-image img {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .hero {
    flex-direction: column;
  }
  .hero-image img {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
  }
  .hero-image img {
    width: 100%;
  }
}