.left{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    gap: 20px;
    max-width: 400px;
}
.right img{
    width: 350px;
  height: 300px;
  object-fit: cover;
}
.section {
  background-color: rgb(32, 32, 34);
  padding: 60px 40px;
  color: white;
width: 100% ;
  text-align: left;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: left;
  justify-content: space-between;
  gap: 40px;
}
.learnMore-btn{
 
  color: white;
  background-color: orange;
  height: 50px;
  width: 120px;
 
}
.learnMore-btn:hover {
  background-color: rgb(255, 142, 4);  
}
.icon-row {
  display: flex;
  align-items: center;
  gap: 15px;
}

.orange-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .section {
    flex-direction: column;
  }
  
  
}
@media (max-width: 600px) {
  .section {
    flex-direction: column;
  }
  .right img{
     width: 300px;

  }
  
}
@media (max-width: 992px) {
  .section {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .section {
    flex-direction: column;
  }
}

