.cards-container {
  display: flex;
  gap: 20px;
  padding: 40px;
  background-color: rgb(32, 32, 34);
 width: 100%; 
box-sizing: border-box;
}
#app-container
{
    min-height: calc(100vh -100px);
    width: 100%;
  
}
#scrollable{
    padding: auto;
    
}